<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962604690676-cvq9sltjjsfbdqcsun6v9i8i4oqrpds9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962604690676-cvq9sltjjsfbdqcsun6v9i8i4oqrpds9</string>
	<key>API_KEY</key>
	<string>AIzaSyDaXB4i21wJgwyBnxi5W03pDgDKnZbX7Os</string>
	<key>GCM_SENDER_ID</key>
	<string>962604690676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.bmart</string>
	<key>PROJECT_ID</key>
	<string>bmart</string>
	<key>STORAGE_BUCKET</key>
	<string>bmart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962604690676:ios:9a76f41c9574c1079682a1</string>
</dict>
</plist>